/*  THIS CODE I COPIED FROM https://meyerweb.com/eric/tools/css/reset/  
   - this code is used to reset the default styles applied on the webpages. */  


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;
	font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}





 body{background:white;}


.main{
      width:1000px;
      height:auto;
      margin:auto;
     }



   .header{
           width:1000px;
           height: auto;
           margin: auto; 
         }


         #logo_image{
          width:20%;
          height: 15%;
         }

.menubar{
          width: 1000px;
          height: 50px;
          background:grey;
          }
          
    #menu{  /* menu id */
         padding: 0;
         margin: 0;
         line-height: 35px;
          
         float: left;  
        }

    #menu li{    /* sub id of menu id*/
          list-style: none;  /*removes the bullet*/
          display: inline;   /*display in a single line*/
          }

    #menu a /*sub id of menu id */
         {
          text-decoration: none; /*removing underlines*/
          color: white;
          padding: 8px;
          margin: 5px;
         font-size: 15px;
         line-height: 50px; /*used for placing text at particular height */
         font-family: COMIC SANS MS;
       }

    #menu a:hover
          {   /* when someone points the cursor */
           color: red;
           font-weight: bolder;
           text-decoration: underline; /* adding underline*/
          }

    #form
        {
          float: right;
          padding-right: 8px;
          line-height: 40px;
        }

.content
      {
       width: 1000px;
       margin: auto;
      /* background: pink;*/
      }

    #content_area
               {
   	           width:700px;
               margin: auto;
               float: left; 
               /*background:pink; */
              }

    #sidebar{
           width: 200px;
           background:black;
           float: right;
          }

    #sidebar_title
               {
               background: white;
               color: black;
               font-size: 22px;
               font-family: arial;
               padding: 10px;
               /*text-align: center;*/
              }  
                     
     #cats
         {
          text-align: left;
          padding: 5px;
          height: auto;
         }

     #cats li
           {
            list-style: none;
            margin: 5px;
           }

     #cats a
          {
           text-decoration:none;
           color: orange;
           padding: 8px;
           margin: 5px;
          font-size: 20px;
          font-family:COMIC SANS MS;
          text-align: left; 
         }

      #cats img {border:2px solid white; padding: 4px;}   

    #cats a:hover
          {
           color: white;
           font-weight: bold;
           text-decoration: none;
          }

    #products_box
          {
           width: 800px;
           text-align: center;
           margin-left: 30px;
           margin-bottom: 10px;
           padding: 20px;
           
          }

     #products_box a
     {
       text-decoration: none;
     }     

    #products_box a:hover
    {
        color:red;
        font-weight: bold;
        text-decoration: none;
    }      

   #single_product
          {
            float: left;
            margin-left: 20px;
            padding: 10px;
          }

     #single_product img
           {
            border:1px solid black;
          }     
    #shopping_cart
          {
            width: 800px;
            height: 50px;
            background:black;
            color: white;


          }       
   


    #footer
        {
         width: 1000px;
         height: 50px;
         clear: both;
         background: grey;
         margin: auto;
       }
#register
{
  width: 750px;
/*background: red;*/
}

#customer_login
{
  background-color:pink;
}

